*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    
}

.container {
    width: 80vw;
    height: 85vh;
    margin: 50px auto;
    background-color: white;
    border: 1px solid black;
}
.left {
    width: 35%;
}
.navbar-left{
    height: 10vh;
    background-color: #EAEAEA;
    position: relative;
}
.navbar-left > img {
    width: 15%;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 10px;
}
.navbar-left > p {
    display: inline-block;
    position: absolute;
    top: 30px;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.icons{
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}
.icons > i {
    font-size: 25px;
    margin: 0 5px;
    color: #B1B1B1;
}
.left-disclaimer{
    height: 10vh;
    background-color: #8EDAFC;
}
.left-disclaimer > i {
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
}
.info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 10px;
}
.black{
    font-family: 'Roboto', sans-serif;
}
.underline-grey{
    color: #6D8C94;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.left-searchbar{
    height: 5vh;
    
}
.left-searchbar > i{
    color: #B1B1B1;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
}
.left-searchbar > input{
    width: 80%;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    height: 70%;
    border: none;
}