<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>
<body>
   

    <div id="app" class="container">


        <div class="left clearfix">

            <div class="navbar-left">
                <img class="avatar" src="img/avatar_8.jpg" alt="personal avatar">
                <p>Stefano Tescione</p>
                <div class="icons clearfix">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="left-disclaimer">
                <i class="fas fa-bell-slash"></i>
                <div class="info">
                    <p class="black">Ricevi notifiche di nuovi messaggi</p>
                    <p class="underline-grey">Attiva notifiche desktop</p>
                </div>
            </div>

            <div class="left-searchbar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>

            <div class="contacts">
                <div v-for="(contact, index) in contacts" class="friend" @click="setContactActive(index)">
                    <img class="avatar" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                    <p>{{contact.name}}</p>
                </div>
            </div>
        </div>

        <div class="right clearfix">
            <div class="navbar-right">
                <img :src="'img/avatar' + contacts[contactActive].avatar + '.jpg'" alt="">
                <div class="contact-info">
                    <p class="name"> {{contacts[contactActive].name}} </p>
                    <p class="access">Ultimo accesso oggi alle</p>
                </div>

                <div class="icons clearfix">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="chat">
                <div class="messages-container">
                   
                        <div v-for="message in contacts[contactActive].messages" :class="message.status">
                            <span class="message">{{message.text}}</span>
                            <span class="date">{{message.date}}</span>
                        </div>
                    
                   
                </div>
            </div>

            <div class="textarea">
                <i class="far fa-smile"></i>
                <input @keyup.enter="submit" type="text" placeholder="Scrivi un messaggio" v-model="newMessage">
                <i class="fas fa-microphone"></i>
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>
</html>